node_modules
data/reports/*
!data/reports/.gitkeep
data/uploads/*
!data/uploads/.gitkeep
data/uploadsPDB/*
!data/uploadsPDB/.gitkeep
data/db/*
!data/db/.gitkeep
data/log/*
!data/log/.gitkeep
CRS_DATA
